*.png~
*.kra
Game1/.sonar/report-task.txt
Game1/.sonar/.sonar_lock
game2/.sonar/report-task.txt
game2/.sonar/.sonar_lock
Game3/.sonar/report-task.txt
Game1/.sonar/.sonar_lock
Game4/.sonar/report-task.txt
Game1/.sonar/.sonar_lock
GoRoffaGo/.sonar/.sonar_lock
GoRoffaGo/.sonar/report-task.txt
*.sonar_lock
sonarqube-6.2/logs/*
sonarqube-6.2/temp/*
sonarqube-6.2/data/*
*.jpg~
Promo/playlist

*.pid

*.log
